{% extends "base.html" %}
{% load functions %}
{% block content %}
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-envelope-o"></i> Contact us</h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url "mysite:index" %}">Home</a></li>

                            <li class="breadcrumb-item active">Contact</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">



                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-wrapper" method="POST" action="{% url "mysite:contact" %}">
                                    <h4>Contact form</h4>
                                        {% csrf_token %}
                                        {% if not request.user.is_authenticated %}
                                            <input type="text" name="name" class="form-control" placeholder="Your name">
                                            <input type="email" name="email" class="form-control" placeholder="Email address">
                                            <input type="text" name="phone_number" class="form-control" placeholder="Phone">
                                        {% else %}
                                            {% if not request.user.is_superuser %}
                                                <input type="hidden" name="name" value="{{ request.user.get_full_name }}" />
                                                <input type="hidden" name="email" value="{{ request.user.email }}" />
                                                <input type="hidden" name="phone_number" value="{{ request.user.phone_number }}" />
                                            {% else %}
                                                <input type="hidden" name="name" value="Site Admin" />
                                                <input type="hidden" name="email" value="admin@gmail.com" />
                                                <input type="hidden" name="phone_number" value="09116464436" />
                                            {% endif %}
                                        {% endif %}
                                        
                                        <input type="text" name="subject" class="form-control" placeholder="Subject">
                                        <textarea class="form-control" name="message" placeholder="Your message"></textarea>
                                        <button type="submit"  class="btn btn-primary">Send <i class="fa fa-envelope-open-o"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            {% include "blog/blog-search.html" %}

                            <div class="widget">
                                <h2 class="widget-title">Recent Posts</h2>
                                {% recent_posts %}
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Popular Categories</h2>
                                {% popular_categories %}
                            </div><!-- end widget -->

                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
{% endblock content %}