{% extends "base.html" %}
{% load static %}

{% block content %}
{% load functions %}


        <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2> All Posts </h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url "mysite:index" %}">Home</a></li>
                            <li class="breadcrumb-item">Blog</li>
                            {% comment %} <li class="breadcrumb-item active">Food</li> {% endcomment %}
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-list clearfix">
                                {% for post in posts %}
                                    <div class="blog-box row mb-4">
                                        <div class="col-md-4">
                                            
                                            <div class="post-media">
                                                <a href="{% url "blog:single-blog" slug=post.slug %}" title="">
                                                    <img src="{{post.image.url}}" alt="{{post.title}}" class="img-fluid">
                                                    <div class="hovereffect"></div>
                                                </a>
                                            </div><!-- end media -->
                                        </div><!-- end col -->

                                        <div class="blog-meta big-meta col-md-8">
                                            <h4><a href="{% url "blog:single-blog" slug=post.slug %}" title="">{{post.title}}</a></h4>
                                            <p>{{post.content|truncatewords:30}}</p>
                                                <small><a href="{% url "blog:tag-page" tag_name=post.tag.name %}" title="">{{post.tag.name}}</a></small>
                                            <small>{{post.published_date|date:"d M Y"}}</small>
                                            <small><a href="{% url "blog:author-page" author_username=post.author.username %}" title="">by {{post.author.username}}</a></small>
                                            <a>{{post.view_count}} <i class="fa fa-eye"></i></a>

                                            <div class="tag-cloud-single mt-4">
                                                <span>Categories</span>
                                                {% for cat in post.category.all|slice:":4" %}
                                                    <small><a href="{% url "blog:category-page" category_name=cat.name %}" title="">{{cat.name}}</a></small>
                                                {% endfor %}
            
                                            </div><!-- end meta -->

                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                    <hr>
                                {% endfor %}

                                <hr class="invis">

                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    {% if posts.has_other_pages %}
                                        <ul class="pagination justify-content-start">

                                            {% if posts.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
                                                </li>
                                            {% endif %}

                                            {% for i in page_range %}
                                                {% if posts.number == i %}
                                                    <li class="page-item primary"><a class="page-link" href="?page={{i}}">--{{ i }}--</a></li>
                                                {% else %}
                                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if posts.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </nav>

                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            {% include "blog/blog-search.html" %}
                            <div class="widget">
                                <h2 class="widget-title">Recent Posts</h2>
                                {% recent_posts %}
                            </div><!-- end widget -->


                            <div class="widget">
                                <h2 class="widget-title">Popular Categories</h2>
                                {% popular_categories %}
                            </div><!-- end widget -->

                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
{% endblock content %}